* {
	margin: 0;
	padding: 0;
}
.tabplaceholder {
	float: left;
	width: 20px;
	background-color: #ccc;
	border-radius: 2px;
}
#trash .tabplaceholder {
	opacity: 0.6;
}
html {
	height: 152px;
}
body {
	height: 152px;
	font-size: 0.9em;
	font-family: sans-serif;
}
.window {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background-color: white;
}
.window legend {
	padding: 0 2px;
	background-color: white;
}
.tabs img {
	margin: 2px;
	width: 16px;
	height: 16px;
}
.tabs {
	padding: 0;
	height: 20px;
}
#current {
	border-bottom: 1px solid black;
}
.info {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 5px; 
	text-align: center;
	padding: 5px; 
	float:left;
	width: 232px; 
	font-size: 0.7em;
}

.infobox {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 5px; 
	text-align: center;
	padding-top: 12px; 
	float:left;
	width: 287px; 
	font-size: 0.7em;
}

#trash {
	border: 1px solid #ccc; 
	border-radius: 5px;
	margin: 10px 5px; 
	padding: 8px; 
	float: left; 
	height: 18px; 
	width: 18px; 
	background: url(../images/bin_empty.png) no-repeat 50% 50%; 
}
.tips {
	margin: 0px;
	padding: 0px;
}
.right {
	position: absolute;
	right: 15px;
	margin-top: -22px;
	background-color: white;
	padding: 2px;
}
.right img {
	padding: 1px;
}
.decryptpass {
	width: 150px !important;
}

#tips span {
	width: 100%;
}
#tips {
	margin-bottom: 3px;
}
.confirm {
	display: block;
	margin-top: -3px;
	color: white;
	background-color: #e9594d;
	border-radius: 5px;
	padding: 2px;
}
.confirm img {
	vertical-align: middle;
}

#scrollbar { width: 310px; clear: both; }
#scrollbar .viewport { width: 300px; overflow: hidden; position: relative; height: 0; }
#scrollbar .overview { width: 300px; list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar .thumb .end,
#scrollbar .thumb { background: transparent url(../images/bg-scrollbar.png) no-repeat; }
#scrollbar .scrollbar { position: relative; background-position: 0 0; float: right; width: 10px; }
#scrollbar .track { height: 100%; width:6px; position: relative; padding: 0 1px; }
#scrollbar .thumb { background-position: 100% 100%; height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar .thumb .end { background-position: 100% 0; height: 5px; width: 8px; }
#scrollbar .disable { display: none; }